
<form action="/exhibits"  method ="post">

  <!-- New Exhibit title:
  <input type="text" name="title"><br>
  Image link (if required)
  <input type="text" image ="url"><br> -->


</form>
<form method="GET" action="/exhibit/<%=@exhibit.id%>">
  <label for="title">Title</label>
  <input
  type="text"
  name="title"
  value="<%= @exhibit.title %>"
  />

  <input
  type="text"
  name="image"
  value="<%= @exhibit.image %>"
  />


  <input type='submit' value="Confirm Edit">
</form>
