<h1>Edit <%= @exhibits.format_name %></h1>
<form method="POST" action="/exhibits/<%= @exhibit.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="title">Title:</label>
      <input type="text" name="Title" value="<%= @exhibit.title %>"/>
    </div>


    <div class="form-el">
      <input type="submit" value="Confirm Edit"/>
    </div>

  </div>
</form>
