
<form action="/exhibits"  method ="post">

  Exhibit title:
  <input type="text" name="title"><br>
  Image link (if required)
  <input type="text" image ="url"><br>

  <input type="submit" value="Confirm Edit">
</form>
