<h1>Exhibits</h1>

<a href="/exhibits/new">New Exhibit</a>
<a href="/artex/add">Assign</a>

<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>
  <% for exhibit in @exhibits %>
  <tr>
    <td><a href="/exhibits/<%= exhibit.id %>"><%= exhibit.title %></a></td>
  <td>
    <form action="/exhibits/<%= exhibit.id %>/delete" method="POST">
      <button type=“submit” value="POST"> delete </button>
    </form>
    <form action="/exhibits/<%= exhibit.id %>/edit" method="GET">
      <button type="submit" value="GET"> edit </button>
    </form>
  </td>
  </tr>

  <% end %>
</table>
