<h1>Exhibits</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>
  <% for exhibit in @exhibits %>
  <tr>
    <td><a href="/exhibits/<%= exhibit.id %>"><%= exhibit.title %></a></td>
  <td>
    <form action="/exhibits/<%= exhibit.id %>/delete" method="POST">
      <button type=“submit” value="POST"> delete </button>
    </form>
  </td>
  </tr>
  <a href="/exhibits/<%= exhibit.id %>/update">Edit Exhibit</a>
  <% end %>
</table>

<a href="/exhibits/new">New Exhibit</a>
