body {

  color: black;
  font-family: 'Arial', serif;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', cursive;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2.5em;
  color: black;
  margin-bottom: 20px;
  padding-left: 15px;
  width: 399;
}

a, a:link, a:visited {
  color: darkgrey;
}

th {
  font-size: 2em;
  padding-top: 25px;
  padding-bottom: 15px;
}
nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 5px solid deeppink;
  height: 60px;
  padding-left: 25px;
}
