<h1>Artists</h1>

<a href="/artists/new">New Artist</a>
<table>

  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><a href="/artists/<%= artist.id %>"><%= artist.name %></a></td>
    <td>
    <form action="/artists/<%= artist.id %>/delete" method="POST">
      <button type=“submit” value="POST"> delete </button>
   </form> </td>
  </tr>
  <% end %>
</table>
